body {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #230d1b;
}
svg {
  width: 100vw;
  max-height: 100vh;
  min-width: 300px;
  background: linear-gradient(0deg, rgba(35,13,27,1) 0%, rgba(35,13,27,1) 12%, rgba(35,21,45,1) 12%, rgba(35,21,45,1) 36%, rgba(25,15,32,1) 36%, rgba(25,15,32,1) 38%, rgba(68,47,81,1) 38%, rgba(68,47,81,1) 40%, rgba(234,110,48,1) 40%, rgba(234,110,48,1) 100%);
}